.navigation {
    background-color: #F8F9FA;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    margin: auto;
}  

#Roulette {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#generator {
    border: #F8F9FA;
}