.navigation {
    background-color: #F8F9FA;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    margin: auto;
}  

#Roulette {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#generator {
    border: #afb4b9 solid;
    width: 200px;
    height: 50px;
    border-radius: 15px;
    background-color: #FFF;
    
}



.button {
    display: block;
    width: 150px;
    font-size: 18px;
    font-weight: 200;
    margin: 10px auto 0 auto;
    border: 1px snow dashed;
    border-radius: 5px;
    color: snow;
    background-color: black;
    text-align: center;
}

.number {
    display: block;
}
.random-resolved {
    color: #000
}